    
*.*scc
.cr
*.bak
*.Cache
*.cache
*.datasource
*.disco
*.exe
*.LDF
*.MDF
*.Orig
*.orig
*.Orig/
*.orig/
*.pdb
*.refresh
*.suo
*.user
*.webinfo
*.xap
*/Bin
*/bin
*/ClientBin
*/debug
*/obj
*/release
*.csproj.user
Bin
bin
ClientBin
debug
obj
release
*.trx
*/**/TestResults/
*/xhtml
*.Publish.xml
PrecompiledWeb
*.docstates
*.DotSettings
*.pubxml
*.~vsdx
_ReSharper*/
WebEssentials-Settings.json
*/packages/
packages
*~
.nuget
dump.rdb
.vscode/
build
.vs/
TestResult
*.ncrunchproject
*NCrunch
TestResults
*AppSettings.Secret.config
UpgradeLog.htm
*nuget.config